<tw-storydata name="ITU After Dark" startnode="1" creator="Twine" creator-version="2.1.3" ifid="6E45D278-70CE-4BE1-915E-7BA66D91C9B4" format="Harlowe" format-version="2.0.1" options="" hidden><style role="stylesheet" id="twine-user-stylesheet" type="text/twine-css">



</style><script role="script" id="twine-user-script" type="text/twine-javascript">



</script><tw-passagedata pid="1" name="Start" tags="" position="500,300">(set:$state=1)
(set:$items=&#x27;ITU Card, Locker Key (5-65), Letter, Note (Password)&#x27;)
It&#x27;s pretty late,  but I need to know what&#x27;s going on. I got a student card with a scratched out picture and name in the mail the other day, along with what looks like a password and a key. Inside was also a letter that had a machine typed message reading:

//&quot;YOU ARE MY ONLY HOPE.
TAKE WHATS INSIDE AND HEAD TO ITU.
TELL NO ONE OR THE CONSEQUENCES MIGHT BE DIRE FOR ME.

HURRY&quot;//

The letter quite frankly shocked me, but not knowing what to do about it I decided to go straight away. I&#x27;ve never been inside, but I&#x27;ve passed the place plenty of times.

Current Items: (print:$items)

Go to: [[Side Entrance]]</tw-passagedata><tw-passagedata pid="2" name="Side Entrance" tags="" position="700,300">(if:$state is 1)
[
Nothing unusual about the Side Entrance.

Current Items: (print:$items)

Go To: [[Side Entrance (Inside)]]
Go To: [[The Side Entrance Keypad]]
]
(if:$state is 2)
[
I should be able to open the door now.

Current Items: (print:$items)

Go To: [[Side Entrance (Inside)]]
]</tw-passagedata><tw-passagedata pid="3" name="Variables" tags="" position="300,400">$state
$items</tw-passagedata><tw-passagedata pid="4" name="The Side Entrance Keypad" tags="" position="600,500">It seems like I might need to use a code to get in here. But probably also a card.

Current Items: (print:$items)

[[Scan Card and Use Code from Note]]
Go To: [[Side Entrance]]</tw-passagedata><tw-passagedata pid="5" name="Scan Card and Use Code from Note" tags="" position="800,500">(set:$state=2)
(set:$items=&#x27;ITU Card, Locker Key (5-65), Letter&#x27;)
It seems like it worked! The card scanned with an adubible *BEEP* and the four digit code made the door click open. I&#x27;ll drop the note for now. Code should be easy to remember.

Current Items: (print:$items)

Go To: [[Side Entrance]]</tw-passagedata><tw-passagedata pid="6" name="Side Entrance (Inside)" tags="" position="900,300">(if:$state is 1)
[
I walk up to the door and try to open it. But I&#x27;m unable to. I probably need to use the card and password I got somehow.

Current Items: (print:$items)

Go To: [[Side Entrance]]
Go To: [[The Side Entrance Keypad]]
]
(if:$state is 2)
[
As I walk inside, I look to my left and see a closed off room with a big grey gate. There doesn&#x27;t seem to be any indication of what that room is. Next to the big grey gate is an elevator.
In front of me I see an opening leading into what looks like an atrium

Current Items: (print:$items)

Go To: [[Elevator (Side Entrance)]]
Go To: [[Atrium (South)]]
]</tw-passagedata><tw-passagedata pid="7" name="Elevator (Side Entrance)" tags="" position="1000,500">(if:$state is 2)
[
I walk over to the elevator and try to push the buttons. Nothing seems to happen at all other than the button ligthing up as I press it. I notice underneath the buttons there is a small diamond shaped hole. The elevator likely needs a key to work.

Current Items: (print:$items)

Go To: [[Atrium (South)]]
]</tw-passagedata><tw-passagedata pid="8" name="Atrium (South)" tags="" position="1300,300">(if:$state is 2)
[
I see a big open hall that goes up for what appears to be five floors. The whole room is lit up with soft white light. Around on the different floors are little spots here and there where there is light. Possibly other people? Students? Teachers? Other Staff?
On my left is a closed off revolving door entrance and two elevators. Also a set of stairs that goes all the way up. Straight ahead is a room that reads &quot;SCROLLBAR&quot; with big yellow letters. Looking to my right I see the atrium continuing towards what looks like a northren entrance.

Current Items: (print:$items)

Go To: [[Elevators (South, Ground Floor)]]
Go To: [[ScrollBar]]
Go To: [[Middle of Atrium]]
]</tw-passagedata><tw-passagedata pid="9" name="ScrollBar" tags="" position="1400,500">(if:$state is 2)
[
As I walk over to the sign that reads &quot;SCROLLBAR&quot; I try to grab the door handles. The place is locked. But looking inside it looks like a big open room with a massive projector screen on the right, as well as what appears to be a bar on the far left. This is a student bar.

Current Items: (print:$items)

Go To: [[Elevators (South, Ground Floor)]]
Go To: [[Atrium (South)]]
Go To: [[Middle of Atrium]]
]</tw-passagedata><tw-passagedata pid="10" name="Elevators (South, Ground Floor)" tags="" position="1300,700">Double-click this passage to edit it.</tw-passagedata><tw-passagedata pid="11" name="Middle of Atrium" tags="" position="1200,500">(if:$state is 2)
[

]</tw-passagedata></tw-storydata>